{% include "public/header.html" %}
{% include "public/navigation.html" %}
<div class="container">
{% include "public/messages.html" %}

{% if user.is_authenticated %}
    {% block body_block %}{% endblock %}
{% else %}
    <div class="jumbotron">
  <h1>Welcome to the Issue Tracker</h1>
  <p>In order to use the application you must login. If you do not have a username and password contact the administrator to grant you access.</p>
  <p><a class="btn btn-primary btn-lg" href="/accounts/login" role="button">Login</a></p>
</div>
{% endif %}
</div>

</body>
</html>