{% extends 'issuetracker/base.html' %}

{#{% block title %}{{ category_name }}{% endblock %}#}

{% block body_block %}
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Deleted Issues</h3>
            </div>
            <div class="panel-body table-responsive">
            {% if issue_list %}
                <table class="table table-condensed">
                    <thead>
                    <tr>
{#                        <th>ID</th>#}
                        <th>Issue</th>
                        <th>Note Count</th>
                        <th>Last Modified</th>
                        <th style="text-align: center;">Resolved</th>
                        <th style="text-align: right;">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for issue in issue_list %}
                    <tr>
{#                        <td>{{ issue.id }}</td>#}
                        <td><a href="{% url 'issuetracker:detail' issue.id %}">{{ issue.issue_text }}</a></td>
                        <td>{{ issue.note_set.count }}</td>
                        <td>{{ issue.pub_modified }}</td>
                        <td align="center">{% if issue.resolved %}<span class="glyphicon glyphicon-ok text-success"></span>{% else %}<span class="glyphicon glyphicon-remove text-danger"></span>{% endif %}</td>
                        <td align="right"><a class="btn btn-sm btn-success" href="{% url "issuetracker:undeleteissue" issue.id %}">Restore</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No deleted issues are available.</p>
            {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}