{% extends 'issuetracker/base.html' %}

{#{% block title %}{{ category_name }}{% endblock %}#}

{% block body_block %}
<div class="row">
    <div class="{% if issue.active %}col-sm-6{% else %}col-xs-12{% endif %}">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">{% if issue.active %}Edit Issue{% else %}Issue{% endif %}</h3>
            </div>
            <div class="panel-body">
                <form action="{% url 'issuetracker:saveissue' issue.id %}" method="post">
                    {% csrf_token %}
                <label>Posted by: <span class="text-danger">{{ issue.user.get_full_name }}</span></label>
                {% if issue.active %}
                    <div class="form-group">
                        <label for="issue_text">Issue:</label>
                        <textarea class="form-control" name="issue_text">{{ issue.issue_text }}</textarea>
                    </div>
                    <div class="checkbox">
                        <label>
                          <input type="checkbox" name="resolved"{% if issue.resolved %} checked{% endif %}> Resolved
                        </label>
                    </div>
                    <input class="btn btn-primary btn-block" type="submit" value="Save">
                {% else %}
                    <h4>{{ issue }}</h4>
                    {% if issue.resolved %}<span class="glyphicon glyphicon-ok text-success">&nbsp;</span>Resolved{% else %}<span class="glyphicon glyphicon-remove text-danger">&nbsp;</span>Not Resolved{% endif %}
                {% endif %}
                </form>
            </div>
        </div>
    </div>
    {% if issue.active %}
    <div class="col-sm-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Add Note</h3>
            </div>
            <div class="panel-body">
                <form action="{% url 'issuetracker:newnote' issue.id %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="note_text">Issue:</label>
                        <textarea class="form-control" name="note_text"></textarea>
                    </div>
                    <input class="btn btn-primary btn-block" type="submit" value="Save">
                </form>
            </div>
        </div>
    </div>
    {% endif %}
</div>
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Notes</h3>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
        {% if issue.note_set.count > 0 %}
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>Issue</th>
                <th>Posted By</th>
                <th>Last Modified</th>
            </tr>
            </thead>
            <tbody>
        {% for note in issue.note_set.all|dictsortreversed:"pub_date" %}
            <tr>
                <td>{{ note.note_text }}</td>
                <td>{{ note.user.get_full_name }}</td>
                <td>{{ note.pub_modified }}</td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No notes were found for this issue.</p>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}