{% include "public/header.html" %}
{% include "public/navigation.html" %}
<div class="container">
{% include "public/messages.html" %}
    <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Please Login</h3>
        </div>
        <div class="panel-body">
            <div id="login">
                <form name="LoginForm" action="/accounts/login/" method="post">
                {% csrf_token %}
                {% if next %}
                    <input type="hidden" name="next" value="{{ next }}" />
                {% endif %}
                <div class="form-group">
                    <label for="username">Username</label>
                    <input class="form-control" type="text" id="username" name="username"  placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control" type="password" name="password" id="password" placeholder="Password">
                </div>
                <div class="btn-group btn-group-justified" role="group">
                    <div class="btn-group" role="group">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                    <div class="btn-group" role="group">
                        <a href="/accounts/register" type="button" class="btn btn-danger">Register</a>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    </div>
</div>

</body>
</html>