{% extends 'issuetracker/base.html' %}

{#{% block title %}{{ category_name }}{% endblock %}#}

{% block body_block %}
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Add Issue</h3>
    </div>
    <div class="panel-body">
        <form action="{% url 'issuetracker:newissue' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="issue_text">Issue:</label>
                <textarea class="form-control" name="issue_text">{{ issue.issue_text }}</textarea>
            </div>
            <input class="btn btn-primary btn-block" type="submit" value="Save">
        </form>
    </div>
</div>
{% endblock %}