{% include "public/header.html" %}
{% include "public/navigation.html" %}
<div class="container">
{% include "public/messages.html" %}
    <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Please Register</h3>
        </div>
        <div class="panel-body">
            <div id="register">
                <form name="RegisterForm" action="/accounts/register/" method="post">
                {% csrf_token %}
                {% if next %}
                    <input type="hidden" name="next" value="{{ next }}" />
                {% endif %}
                <div class="form-group">
                    <label for="username">Username</label>
                    <input class="form-control" type="text" id="username" name="username"  placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input class="form-control" type="email" id="email" name="email"  placeholder="email@arbsol.com">
                </div>
                <div class="form-group">
                    <label for="password1">Password</label>
                    <input class="form-control" type="password" name="password1" id="password1" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="password"2>Verify Password</label>
                    <input class="form-control" type="password" name="password2" id="password2" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="first_name">First Name</label>
                    <input class="form-control" type="text" id="first_name" name="first_name"  placeholder="First Name">
                </div>
                <div class="form-group">
                    <label for="last_name">Last Name</label>
                    <input class="form-control" type="text" id="last_name" name="last_name"  placeholder="Last Name">
                </div>
                <div class="btn-group btn-group-justified" role="group">
                    <div class="btn-group" role="group">
                        <a href="/accounts/login" class="btn btn-primary">Login</a>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="submit" class="btn btn-danger">Register</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    </div>
</div>

</body>
</html>