{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Issue Tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'issuetracker/css/bootstrap.min.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'issuetracker/js/bootstrap.min.js' %}"></script>
</head>
<body>