{% if messages %}
    {% for message in messages %}
    <div class="alert alert-{% if message.tags == 'success'%}success{% elif message.tags == 'info' %}info{% elif message.tags == 'error' %}danger{% elif message.tags == 'WARNING' %}danger{% endif %}">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ message }}
    </div>
    {% endfor %}
{% endif %}