{% load issue_extras %}
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'issuetracker:index' %}">Issue Tracker</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        {% if user.is_authenticated %}
            <ul class="nav navbar-nav">
                <li><a href="{% url 'issuetracker:index' %}">Active ({% issue_count 'active' %})</a></li>
                <li><a href="{% url 'issuetracker:deleted' %}">Deleted ({% issue_count 'inactive' %})</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/accounts/logout">Logout</a></li>
            </ul>
            <div class="hidden-xs navbar-right"><p class="navbar-text">Welcome {{ user.username }}!</p></div>
        {% else %}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/accounts/login">Login</a></li>
            </ul>
        {% endif %}
        </div>
    </div>
</nav>